@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Courgette');

body, html {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-image: url("resources/splash3.jpg");
  background-size: cover;
}
a {
  text-decoration: none;
  color: white;
}

/* NAVIGATION BAR */
#nav_bar {
  /* background-color: linear-gradient(#026c7c, #055864); */
  /* background: -webkit-linear-gradient(#070d11, #034049);
  background:    -moz-linear-gradient(#025c7c, #034049);
  background:         linear-gradient(#025c7c, #034049); */
  background: rgba(73, 56, 41, 0.5);
  align-items: center;

  font-family: 'Courgette';
  font-size: 24px;
  color: white;

  height: 35%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
#logo {
padding-left: 20px;
}
#option1 {
  justify-self: center;
}
#option2 {
  justify-self: center;
}
#option3 {
  justify-self: center;
}

/* MAIN BODY */
#content {
  background: -webkit-linear-gradient(to right, #412B1D, #DBAB7E);
  background:    -moz-linear-gradient(to right, #412B1D, #DBAB7E);
  background:         linear-gradient(to right, #412B1D, #DBAB7E);

  font-family: 'Raleway';

  height: 50%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}
#content2 {
  background: rgba(73, 56, 41, 0.6);

  font-family: 'Courgette';
  color: rgba(255, 255, 255, .6);;
  font-size: 5em;

  height: 50%;
  width: 100%;
  text-align: center;
  display: table;
}
#content_inner {
  display: table-cell;
  vertical-align: middle;
}
#left_arrow {
  width: 100%;
  height: 100%;
}
.arrow_img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 30%;
}
.arrow_container {
  height: 100%;
  width: 100%;
}
#pet_image {

}
#main_image {
  height:100%;
  width: 60%;
  border-radius: 5px;
  box-shadow: -5px 0px 4px rgba(0,0,0, 0.5);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
#pet_description {

  color: black;
  padding: 10px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
#right_arrow {
  width: 100%;
  height: 100%;

}

/* FOOTER */
#footer {

  /* background: -webkit-linear-gradient(#034049, #025c7c);
  background:    -moz-linear-gradient(#034049, #025c7c);
  background:         linear-gradient(#034049, #025c7c); */
  background: rgba(73, 56, 41, 0.5);

  height: 15%;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
